{{ define "main" }}
<div id="page-wrapper">

    <header id="header">
    {{- partial "header.html" . -}}
    </header>
    
    <article id="main">
        <section class="wrapper style2 container special-alt">
            <div class="row gtr-50">
                <div class="col- col-12-narrower">
                {{ $paginator := .Paginate .Data.Pages }}
                <h2>{{ .Title }}</h2>
                </div>
            </div>
        
        {{ if .Content }}
        <div class="row gtr-50">
        <div class="col- col-12-narrower">{{ .Content }}</div>
        </div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
        <div class="row gtr-50">
            <div class="col- col-12-narrower">
                <h3>{{ .Key }}</h3>
                <ul>
                    {{ range .Pages }}
                        <li>
                            <a href="{{.Permalink}}">
                                <span>{{.Title}}</span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ end }}
        <div class="row gtr-50">
        <ul class="buttons">
            <li><a class="button" onclick="history.back()"><i class="fas fa-arrow-left"></i></i> Go back</a></li>
        </ul>   
        </div>
        </section>
        </article>
{{ end }}
