{{ define "main" }}
<div id="page-wrapper">

    <header id="header">
        {{- partial "header.html" . -}}
    </header>


    <article id="main">
      <section class="wrapper style1 container special">
        <div class=".row.aln-center">
        <div class="col-">
        <h2>{{ .Title }}</h2>
       </div>
        </div>
      {{ if .Content }}
      <div class=".row.aln-center">
        <div class="col-">
        </div>
      </div>
      <p>{{ .Content }}</p>
      {{ end }}
      {{ $.Scratch.Set "counter" 0}}
      {{ with .Site.GetPage "section" "board" }}
      {{ range .Pages }}
      {{ $counter := $.Scratch.Get "counter" }}
      {{ if eq $counter 0 }}
      <div class="row gtr-50">
      {{ end }}
        
        <div class="col-4 col-12-narrower">
        <section>
        <figure class="snip1321"><img src="{{ .Site.BaseURL }}{{ .Params.profile_img }}" alt="{{ .Params.firstname }} {{ .Params.lastname }}"/>
          <figcaption><i class="ion-upload"></i>
            <h2>{{ .Params.firstname }}</h2>
            <h2>{{ .Params.lastname }}</h2>
            <h4>{{ .Params.position }}</h4>
          </br>
            {{ if .Params.twitter }}
            <a href="{{ .Params.twitter }}" target="_blank" ><i class="fab fa-twitter"></i></a>
            {{ end }}
            {{ if .Params.instagram }}
            <a href="{{ .Params.instagram }}" target="_blank" ><i class="fab fa-instagram"></i></a>
            {{ end }}
            {{ if .Params.linkedin }}
            <a href="{{ .Params.linkedin }}" target="_blank" ><i class="fab fa-linkedin"></i></a>
            {{ end }}
            {{ if .Params.email }}
            <a href="mailto:{{ .Params.email }}" target="_blank" ><i class="fas fa-envelope"></i></a>
            {{ end }}
          </figcaption>
        </figure>
        </section>
        </div>
        {{ $.Scratch.Add "counter" 1}}
        {{ if eq $counter 2 }}
      </div>
      {{ $.Scratch.Set "counter" 0}}
      {{ end }}
      {{ end }}
      {{ end }}
    </section>
    </article>

</div>
{{ end }}