    <!-- Banner -->
    <section id="banner">

        <!--
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
        -->
        <div class="inner">

            <header>
                <img class="hero-logo" src="{{ .Site.BaseURL }}assets/images/helsec_logo_white.svg" height=100px/>
            </header>
            <p>Cybersecurity group
            <br />
            by the <strong>community</strong>,
            <br />
            for the <strong>community</strong>.</p>
            <footer>
                <ul class="buttons stacked">
                    <li><a href="#main" class="button fit scrolly">WTF?</a></li>
                </ul>
            </footer>

        </div>

    </section>