<head>
<title>{{ .Site.Title }}{{ if .IsHome }} - Home{{ else }}{{ if .Page.Title }} - {{ .Page.Title }}{{ end }}{{ end }}</title>
<link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL }}/favicon.png">
<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">
<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/feed.xml" title="{{ .Site.Title }}">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/css/main.css" />
<noscript><link rel="stylesheet" href="{{ .Site.BaseURL }}/assets/css/noscript.css" /></noscript>
</head>
