<section class="wrapper style3 container special">

    <header class="major">
        <h2><strong>Support members</strong> {{ now.Format "2006" }}</h2>
    </header>
    {{ $.Scratch.Set "counter" 0}}
    {{- with .Site.Params.supporter }}
    {{ range . -}}
        {{ $counter := $.Scratch.Get "counter" }}
        {{ if eq $counter 0 }}
            <div class="row">
        {{- end }}
        <div class="col-3 col-12-narrower">

            <section>
                <a href="{{ .url }}" target="_blank" class="image featured"><img src="images/{{ .logo }}" alt="" /></a>
            </section>
            </div>

        {{ $.Scratch.Add "counter" 1}}
        {{ if eq $counter 3 }}
            </div>
            {{ $.Scratch.Set "counter" 0}}
        {{- end -}}
        {{- end }}
    {{- end }}

    <footer class="major">
        <ul class="buttons">
            <li><a href="/about/supporters" class="button">See More</a></li>
        </ul>
    </footer>

</section>