{{ define "main" }}
<div id="page-wrapper">

      <header id="header">
          {{- partial "header.html" . -}}
      </header>


      <article id="main">
        <section class="wrapper style1 container special">
          <div class="row aln-center">
          <div class="col-">
            <header class="major">
          <h2>{{ .Title }}</h2>
        </header>
        </div>
        </div>
        {{ if .Content }}
        <div class="row aln-center">
          <div class="col-">
          </div>
        </div>
        <p>{{ .Content }}</p>
        {{ end }}

      {{ range $year := (seq (now.Format "2006") 2019)}}
      <section class="wrapper style2 container special">
        <div class="row aln-center">
        <header class="major"><h2>{{ $year }}</h2></header>
        <div class="row aln-center">
        {{ with $.Site.GetPage "section" "supporters" }}
        {{ range .Pages }}
        {{ if in .Params.years (string $year) }}
        <div class="col-3 col-12-narrower">
          <section>
              <a href="{{.Permalink}}" class="image featured"><img src="{{ .Site.BaseURL }}/{{ .Params.logo }}" alt="" /></a>
          </section>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
      </div>
      </section>
      {{end}}

      </div>
        </section>
        </article>
{{ end }}
