{{ define "main" }}
<div id="page-wrapper">

    <header id="header">
    {{- partial "header.html" . -}}
    </header>
    
    <article id="main">
        <section class="wrapper style2 container special">
        <div class="row aln-center">
            <img src="{{ .Site.BaseURL }}/{{ .Params.logo }}" alt="" width=50%/> 
        </div>
        <div class="row aln-center  ">
            <ul>
            <span>Years as a support member:</span></br>
            {{ range .Params.years}}
                <span>{{ . }}</span><br>    
            {{ end }}
            <span>Website: <a href={{ .Params.link }} target="_blank">{{.Params.link }}</a></span>
            </ul>
        </div>

        {{ if .Content }}
        <div class="row aln-center">
        <div class="col-3 col-12-narrower">
            <p>{{ .Content }}</p>
        </div>
        </div>
        {{ end }}

        <ul class="buttons">
            <li><a class="button" onclick="history.back()"><i class="fas fa-arrow-left"></i></i> Go back</a></li>
        </ul>

        </section>
        </article>
{{ end }}

