{{ define "main" }}
<div id="page-wrapper">

    <header id="header">
    {{- partial "header.html" . -}}
    </header>
    
    <article id="main">
        <section class="wrapper style2 container special-alt">
            <div class="row gtr-50">
                <div class="col- col-12-narrower">
        <h2>{{ .Title }}</h2>
      </div>

        {{ if .Content }}
        <div class="col- col-12-narrower">{{ .Content }}</div>
        {{ end }}

    </div>

        <div class="row gtr-50">
        <div class="col- col-12-narrower">
        <h3>Upcoming</h3>
        {{ $future_events := where .Data.Pages ".Date" "ge" now }}
        {{ if not $future_events }}
        <ul>
          <li>
            <span>No upcoming events :(</span>  
          </li>
        </ul>
        {{ else }}
        <ul>
        {{ range $future_events }}
                    <li>
                        <a href="{{.Permalink}}">
                            <span>{{.Title}} | {{ .Date.Format "2006-01-02" }}</span>
                        </a>
                    </li>
        {{ end }}
        </ul>
      {{ end }}
      </div>

      <div class="col- col-12-narrower">
        <h3>Past</h3>
        {{ $past_events := where .Data.Pages ".Date" "lt" now }}
          <ul>
                {{ range $past_events.ByDate.Reverse }}
                  <li>
                      <a href="{{.Permalink}}">
                          <span>{{.Title}} | {{ .Date.Format "2006-01-02" }}</span>
                      </a>
                  </li>
                  {{ end }}
            </ul>
    </div>
      </div>

        </section>
        </article>
{{ end }}
